<!--# Deny all PHP scripts from executing
<FilesMatch "\.(php|phar|phtml|php[0-9]|pht)$">
    Deny from all
</FilesMatch>

# Allow only image files
<FilesMatch "\.(jpg|jpeg|png)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>-->
